<launch>

<!-- NOTE: it requires to rosrun sensor_converter ir_filtering -->

<!-- Mapping -->
  <node pkg="mapping" type="map_handler_node" name="map_handler_node" output = "screen" />

<!-- Graph creation -->
  <node pkg="mapping" type="object_map_node" name="object_map_node" output = "screen" />

</launch>
